<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congrats!</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="bg-dark">
            <span class="badge text-bg-primary">
                <h1 class="c-primary">THANKS FOR TRUST US!</h1>
            </span>
        </div>
    </header>
    <main class="text-center">
        <h2>HI <%= info.email %>!</h2>

        <p>we have already finished to process your order.</p>

        </div>
        <div class="card text-bg-primary m-auto" style="max-width: 18rem;">
            <div class="card-header">Do not forget to save this:</div>
            <div class="card-body">
                <p class="card-text"><%= info.orderNumber %></p>
            </div>
            <a href="/products" style="text-decoration: none;"><button class="btn btn-warning i-block">Go
                    Home</button></a>
        </div>
    </main>
</body>

</html>