<footer class="mt-2">
    <ul class="nav flex-column text-center bg-dark">
        <li class="nav-item">
            <p><i class="fas fa-phone"></i> +541126957354</p>
        </li>
        <li class="nav-item">
                   <p<i class="fas fa-map-marker-alt"> BUENOS AIRES, ARGENTINA</i></p>
        </li>
        <li class="nav-item">
                   <p><i class="fas fa-envelope"> Contact@silver.com</i></p>
        </li>
        <li class="nav-item">
            <p><i class="fas fa-clock"> Mondays to Saturdays from 10:00 to 21:00hs</i></p>
        </li>
      </ul>
</footer>